<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link rel="stylesheet"  th:href="@{/css/addevent.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div id="homeButtonContainer">
        <a th:href="@{/mainlobby}"><button id="homeButton" class="btn btn-warning" type="button">Home</button></a>
    </div>

    <div class="formEventContainer">
        <h1>Let's add an Event</h1>
        <form th:action="@{/event/addEvent}" method="POST">
            <div class="form-group" id="formGroupEvent">
                <label for="formEventName">Event Name</label>
                <input type="text" class="form-control" name="eventName" placeholder="Event name" id="formEventName" required>

                <label for="formEventDescriprion">Event Descirption</label>
                <input type="text" class="form-control" name="eventDescription" placeholder="Event Description" id="formEventDescriprion" required>

                <label for="formEventType">Event Type</label>
                <select class="form-control" name="eventType" id="formEventType" required style="color: black">
                    <option value="" selected="" disabled="">Select Category</option>
                    <option value="Danger" style="color: black">Dangerous Event</option>
                    <option value="Neutral" style="color: black">Neutral Event</option>
                    <option value="Safe" style="color: black">Safe Event</option>
                </select>

                <label for="minDes">Minimum Action</label>
                <input type="text" class="form-control" name="mindes" id="minDes" placeholder="Description" required>
                <input type="text" class="form-control" name="minres" id="minRes" placeholder="Result" required>


                <label for="medDes">Medium Action</label>
                <input type="text" class="form-control" name="meddes" id="medDes" placeholder="Description" required>
                <input type="text" class="form-control" name="medres" id="medRes" placeholder="Result" required>

                <label for="maxDes">Maximum Action</label>
                <input type="text" class="form-control" name="maxdes" id="maxDes" placeholder="Description" required>
                <input type="text" class="form-control" name="maxres" id="maxRes" placeholder="Result"  required>

            </div>
            <button type="submit" class="btn btn btn-primary btn-block" id="submitbutton">Submit</button>

        </form>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>