<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.pointer {
  height: 50px;
  width: 3px;
  background-color: #000000;
  position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
}

body {
    padding: 10px;
    background-color: #280101 !important;
}

.battleResult {
    text-align: center;
	margin-top: 100px;
	margin-bottom: 75px;
}

#Title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#Title2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#time {
	color: #280101;
}

.stats_title {
	text-align: center;
}

#player_box {
	padding-left: 50px;
	border-style: double;
	margin:auto;
	height: 200px;
}


#enemy_box {
	padding-left: 50px;
	border-style: double;
	margin:auto;
	height: 200px;
}

#battle_mechanic {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#log {
	text-align: center;
	margin: auto;
	background-color: #820202;
	border-style: ridge;
	padding-top: 20px;
	padding-bottom: 20px;
}

button {
  color: white;
  width: 100px;
  height: 40px;
  background-color: #4CAF50;
  text-align: center;
}

p {
    text-size: 14px;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battle Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body style="max-width: 100%; min-height: 100%;">

<div id="main_content">
    <h1 id="Title" th:text="'Fighting against ' + ${event.getBattleEvent().getEnemyName()}"></h1>
    <h2 id="Title2" th:text="${event.getDescription()}"></h2>
    <div class="row">
        <div id="player_box" class="col-md-4">
            <h2 class="stats_title">Player status:</h2>
            <h4>
                <p id="player_hp" th:text="'HP: ' + ${event.getBattleEvent().getPlayerHP()}"></p>
                <p th:text="'Attack: ' + ${event.getBattleEvent().getPlayerAtt()}"></p>
                <p th:text="'Defense: ' + ${event.getBattleEvent().getPlayerDef()}"></p></h4>
        </div>

        <div id="enemy_box" class="col-md-4">
            <h2 class="stats_title">Enemy status:</h2>
            <h4><p th:text="'Name: ' + ${event.getBattleEvent().getEnemyName()}"></p>
                <p id ="enemy_hp" th:text="'HP: ' + ${event.getBattleEvent().getEnemyHP()}"></p>
                <p th:text="'Attack: ' + ${event.getBattleEvent().getEnemyAtt()}"></p></h4>
        </div>
    </div>

    <br>
    <br>

    <div id="battle_mechanic">
        <div style = "background-color: #FFC300; width: 400px; height: 50px; position: relative; margin:0;">
            <div style = "background-color: #FF5733; width: 200px; height: 50px; position: relative; margin-left: 100px;">
                <div style = "background-color: #C70039; width: 50px; height: 50px; position: relative; margin-left: 75px;">
                    <div style = "background-color: #581845; width: 10px; height: 50px; position: relative; margin-left: 20px;">
                        <div class="pointer" id="pointer" style = "margin-left: -195px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <button id="ActionButton" onClick = "action()" type="submit" style="margin-right: 10px; background-color:red;">Attack</button>
        <a href="/mainlobby" style="margin-left: 10px;" id="flee"><button>Flee</button></a>

    </div>

</div>
<br>
<br>

<div id="log" class="col-md-6">
    <h1>Log Battle</h1>
    <div id="log-content"></div>
</div>

<input type="hidden" id="time">

<br>


<div class="audio"></div>
<div class="footer" style="margin-top: 100px"></div>

</body>
<script type="text/javascript" th:inline="javascript">



        // this line add soundtrack to the web
        if([[${isTheEnd}]] === true) {
            $(".audio").append("<audio autoplay src=\"/song/yharon.mp3\" id=\"yharon\"></audio>")
            $(".footer").append("<p style='text-align: center'>This app is intended for Educational purpose only. Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for \"fair use\". Soundtrack is \"Roar of The Jungle Dragon\" by DM DOKURO. Copyright holder is Materia Collective.</p>")
            var audio = document.getElementById("yharon");
            audio.volume = 0.08;
        }

        // function below is the controller for battle bar time
        var myTimer;
        var c = 0;
        var timeInterval = ([[${battleInterval}]] / 4) * 10
        function clock() {
            clearInterval(myTimer);
            c = Math.floor(Math.random()*400) + 1; // this will get a number between 1 and 400;
			c *= Math.round(Math.random()) ? 1 : -1; // this will add minus sign in 50% of cases
            myTimer = setInterval(myClock, timeInterval); // myClock() will be executed every timeInterval milisecond
                function myClock() {
                    --c;
                    if (c < 0) {
                        c = -1 * c; // set number to positive
                        document.getElementById("time").innerHTML = c;
                        pointer.style.left = c + 'px';
                        c = -1 * c; // return back to negative
                    } else {
                        document.getElementById("time").innerHTML = c;
                        pointer.style.left = c + 'px';
                    }
                    if (c === -400) {
                        c = 400;
                    }
                }
        }


        // function below is to determine attack/defend multiplier
        var timing = 0;
        function determineTiming() {
            if (c < 0) {
                c = c * -1;
            }

            if (c <= 205 && c >= 195) {
                timing = 1;
            } else if (c <= 225 && c >= 175) {
                timing = 0.75;
            } else if (c <= 300 && c >= 100) {
                timing = 0.5;
            } else {
                timing = 0.25;
            }

            clock();

            console.log("timing multiplier= " + timing);
        }

        // function below is for player to attack enemy
        function attack() {
            determineTiming();
            $.ajax({
                type: "POST",
                url: "/event/attackEnemy?timing=" + timing,
                success: function(result) {
                    // Add log implementation
                    if (result > 0) {
                        document.getElementById("enemy_hp").innerHTML = 'HP: ' + result;
                        var addLog = "<p>• Attack Multiplier = " + timing + "; Enemy remaining HP: " + result;
                        var div = document.getElementById('log-content');
                        div.innerHTML = addLog + div.innerHTML;
                    } else {
                        $.ajax({
                            type: "post",
                            url: "/event/win"
                        });

                        if([[${isTheEnd}]] === true) {
                            document.getElementById("main_content").innerHTML = '<div class="battleResult" style="display: flex;justify-content: center;align-items: center; flex-direction: column">' +
                                '<h3 style="width: 70%">This is the end. Using your last remaining power, you sealed Bahamut body inside three gigantic gigantic mountain of Thangorodrim.</h3>' +
                                '<h3 style="width: 70%">With Bahamut sealed, you starts to lose consciousness. It was black, then you wake up in front of a giant door crafted out of materials you have never seen before. Celestia.</h3>' +
                                '<br>' +
                                '<a href="/"><button class="btn btn-success" style="background-color: #BC823E; border-style: none; color: black; width: auto; height: auto">Another Story?</button></a>' +
                                '</div>' + '<div id="pointer"></div>';
                            $("#log").remove();
                            $(".footer").remove();
                        } else {
                            var dbReward = [[${event.getBattleEvent().getDbReward()}]]
                            document.getElementById("main_content").innerHTML = '<div class="battleResult">' +
                                '<h1>You win</h1>' +
                                '<h1>DB Claimed: ' + dbReward + '</h1>' +
                                '<br>' +
                                '<a href="/mainlobby"><button>HOME</button></a>' +
                                '<br><a href="/event/check"><button>Adventure</button></a>' +
                                '</div>'+ '<div id="pointer"></div>';
                            $("#log").remove();
                        }
                    }
                }
            });
        }

        // function below is for player to defend while attacked by the enemy
        function defend() {
            determineTiming();
            $.ajax({
                type: "POST",
                url: "/event/defendPlayer?timing=" + timing,
                success: function(result) {
                    // Add log implementation
                    if (result > 0) {
                        document.getElementById("player_hp").innerHTML = 'HP: ' + result;
                        var addLog = "<p>• Defense Multiplier = " + timing + "; Your remaining HP: " + result;
                        var div = document.getElementById('log-content');
                        div.innerHTML = addLog + div.innerHTML;
                    } else {
                        $.ajax({
                            type: "post",
                            url: "/event/lose"
                        });
                        var new_content = '<div class="battleResult">' +
                                    '<h1>You Lose, your account will be deleted</h1>' +
                                    '<a href="/"><button>HOME</button></a>' +
                                    '</div>' +
                                    '<div id="pointer"></div>';
                        document.getElementById("main_content").innerHTML = new_content;
                        $()
                    }
                }
            });
        }

        // function below is to active attack/defense through action
		var currAction = 'attack'; // initial value is attack
		function action() {
			if (currAction == 'attack') {
			    currAction = 'defend';
			    attack();
                document.getElementById("ActionButton").innerHTML = 'Defend';
            } else {
                currAction = 'attack';
                defend();
                document.getElementById("ActionButton").innerHTML = 'Attack';
            }

            // reset clock
            clock();
		}

		$( document ).ready(function() {
			clock();
		});
    </script>

</html>