<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Event Exception</title>
  <link rel="stylesheet"  th:href="@{/css/event.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body style="display: flex; justify-content: center; align-items: center; flex-direction: column;height: 100vh">
<h2 style="text-align: center">You are approaching your final adventure. You sense a great danger ahead.</h2>
<h4 style="text-align: center">We recommend you to rearm. This will not be an easy battle.</h4>
<div class="actionsContainer">
  <a th:href="@{/mainlobby}" ><button class="btn btn-success">Rearm</button></a>
  <a th:href="@{/theEnd/bahamut}" ><button class="btn btn-success">Leeroy Jenkins!</button></a>
</div>


<!--<audio autoplay src="/song/yharon.mp3"></audio>-->


</body>
</html>