<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Random Event</title>
  <link rel="stylesheet"  th:href="@{/css/event.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div id="homeButtonContainer">
  <a th:href="@{/mainlobby}"><button id="homeButton" class="btn btn-warning" type="button">Home</button></a>
</div>
<div class="mainEventContainer">

  <div class="descriptionContainer">
    <p th:text="${randomEvent.getDescription()}" class="align-content-center" id="eventDescription"></p>
  </div>


  <h3>Choose your action</h3>
  <div class="actionsContainer">
    <form th:action="@{/event/chooseAction(rewardType = 0)}" method="POST">
      <button type="submit" class="btn btn-success" th:text="${ActionMin.getDescription()}"></button>
    </form>

    <form th:action="@{/event/chooseAction(rewardType = 1)}" method="POST">
      <button type="submit" class="btn btn-success" th:text="${ActionMed.getDescription()}"></button>
    </form>

    <form th:action="@{/event/chooseAction(rewardType = 2)}" method="POST">
      <button type="submit" class="btn btn-success" th:text="${ActionMax.getDescription()}"></button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
