<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Event</title>
    <link rel="stylesheet"  th:href="@{/css/event.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
    <div class="mainEventContainer">

        <div class="descriptionContainer">
            <p th:text="${randomEvent.getDescription()}" class="align-content-center" id="eventDescription"></p>
        </div>


        <h3>Choose your action</h3>
        <div class="actionsContainer">
            <button class="btn btn-success" th:text="${ActionMin.getDescription()}" value="0" id="minButton"></button>

            <button class="btn btn-success" th:text="${ActionMed.getDescription()}" value="1" id="medButton"></button>

            <button class="btn btn-success" th:text="${ActionMax.getDescription()}" value="2" id="maxButton"></button>


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var currentEvent = /*[[${randomEvent}]]*/ null;
        /*]]>*/

        $("#minButton, #medButton, #maxButton").click(function () {
            var encodedEventName = encodeURI(currentEvent.eventName);
            var choosenAction = $(this).val();
            var container = $('body');
            var urlPost = '/eventAPI/' + encodedEventName + '/' + choosenAction;
            var urlLobby = '/mainlobby';
            var urlEvent = '/event/check';
            $.ajax({
                method: 'POST',
                url: urlPost,
                success: function (data) {
                    $("#homeButtonContainer").remove();
                    $(".mainEventContainer").remove();
                    container.append(
                        "<div class=\"mainResultContainer\">" +
                        "<div class=\"descriptionResultContainer\">" +
                        "<p  class=\"descriptionResult\">" + data.resultDescription + "</p>" +
                        "<p>This Action Effect</p>" +
                        "<ul>" + "<li>" + data.doggoReward + " DoggoBits </li>" +
                        "</ul>" +
                        "</div>" +
                        "<h4>Choose your action</h4>" +
                        "<div class=\"actionsContainer\">" +

                        "<a href="+ urlLobby +">" + "<button id=\"homeButton2\" class=\"btn btn-warning\" type=\"button\">Back to Home</button>"
                        +"</a>" +

                        "<a href="+ urlEvent +">" + "<button id=\"continueButton\" class=\"btn btn-warning\" type=\"button\">Continue Adventure</button>"
                        +"</a>" +
                        "</div>" +
                        "</div>"
                    )
                }
            })

        });



    </script>
</body>
</html>