<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
  <link rel="stylesheet"  th:href="@{/css/result.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div class="mainResultContainer">

  <div class="descriptionResultContainer">
    <p th:text="${actionDescription}" class="descriptionResult">
    <p>This Action Effect</p>
    <ul>
      <li th:text="${actionReward} + ' Doggobits'"></li>
    </ul>
  </div>

  <h4>Choose your action</h4>
  <div class="actionsContainer">
    <a th:href="@{/mainlobby}"><button id="homeButton2" class="btn btn-warning" type="button">Back to Home</button></a>
  <a th:href="@{/event/check}"><button id="continueButton" class="btn btn-warning" type="button">Continue Adventure</button></a>
  </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>