<!DOCTYPE html>
<html lang="en" style="min-height: 100%;margin: 0;">
<head>
    <meta charset="UTF-8">
    <title>Add Event Exception</title>
    <link rel="stylesheet"  th:href="@{/css/event.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta http-equiv="Refresh" th:content="|3; url=@{/}|" />
</head>
<body style="display: flex; justify-content: center; align-items: center; flex-direction: column;height: 100vh">
    <h1 style="text-align: center">Character has been deleted</h1>
    <h4 style="text-align: center">This page will be redirected after 3 seconds</h4>
</body>
</html>