<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet"  th:href="@{/css/lobby.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

    <div class="content">

    <div class="dbContainer">
        <button type="button" class="btn btn-warning" th:text="${heroStats.getDB() + ' ' + 'db'}"></button>

    </div>

    <div class="statContainer">
        <div class="heroImageCont">
            <img th:src="@{images/herosprite2.svg}" class="heroImage">
        </div>

        <div class="statMain">
            <p style="margin: 0px">Name</p>
            <p th:text="${heroInstance.getName()}" style="font-weight: bold"></p>

            <p style="margin: 0px">Role</p>
            <p th:text="${heroInstance.getRole()}" style="font-weight: bold"></p>

            <div class="atkdefhp">
                <div class="atk">
                    <p style="margin: 0px">ATK</p>
                    <p th:text="${heroStats.getMaxAttack()}" style="font-weight: bold"></p>
                </div>

                <div class="def">
                    <p style="margin: 0px">DEF</p>
                    <p th:text="${heroStats.getMaxDefense()}" style="font-weight: bold"></p>
                </div>

                <div class="hp">
                    <p style="margin: 0px">HP</p>
                    <p th:text="${heroStats.getMaxHealth()}" style="font-weight: bold"></p>
                </div>
            </div>

            <p style="margin: 0px">Difficulty</p>
            <p th:text="${heroInstance.getDifficulty()}" style="font-weight: bold"></p>

            <p style="margin: 0px">Progress</p>
            <p th:text="${heroStats.getExperience()}" style="font-weight: bold"></p>
        </div>

    </div>
    <div class="threebuttons">
        <form th:action="@{/deleteHero}" method="POST">
        <div class="onebutton">
            <button type="submit" class="btn btn-danger"> Delete Hero </button>
        </div>
        </form>

        <div class="twobuttons">
        <a th:href="@{/shop}"><button type="button" class="btn btn-warning"> Shop </button></a>
        <a th:href="@{/event/check}"><button type="button" class="btn btn-warning"> Adventure </button></a>
        </div>
    </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>