<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Character</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container justify-content-center text-center">
    <h1 class="text-center" id="confirmation">We found an existing hero. Are you sure to make another new one?</h1>
    <form class="form-group"
          th:action="@{/story}" method="GET">
        <button class="btn btn-success" type="submit">Yes bro</button>
    </form>
    <form class="form-group"
          th:action="@{/mainlobby}" method="GET">
        <button class="btn btn-success" type="submit">No, I want to continue</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/character-difficulty.js}"></script>
</html>
