<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Is This Isekai?</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/landing.css}">
  <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
  <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container justify-content-center text-center" style="height: 100vh; display: flex; flex-direction: column">
  <h3 class="text-center">You were just an ordinary Salaryman. You remember on that day, a wild truck hit you and you lost your life.</h3>
  <h3 class="text-center">You wake up in a world you have never seen before. A world that is full of mythical beings and civilizations that dates back around the middle age.</h3>
  <h3 class="text-center">This world is full of mystery. But you know staying around will not solve anything.</h3>
  <a th:href="@{/character}"><button type="button" class="btn btn-warning">Let's go!</button></a>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/character-difficulty.js}"></script>
</html>
