<div id="content">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Character</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/character.css}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');</style>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class = "col create-character-table" style="text-align: center;height: 30%">
        <div class = "col-12 col-md-12 col-lg-12 text-center">
            <h1 id="title"> CREATE YOUR CHARACTER</h1>
        </div><!--
        <form class="form-group"
                method="post"
              >-->
            <div class="form-group row">
                <div class="col-lg-6">
                    <h2>Name :</h2>
                </div>
                <input class = "col-lg-5" type="text" name="heroName" id="heroName">
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <h2>Class :</h2>
                </div>
                <select class="form-control col-lg-5" name="role" id="role">
                    <option disabled value="">Select Role</option>
                    <option value="Berserker">Berserker</option>
                    <option value="Slayer">Slayer</option>
                    <option value="Paladin">Paladin</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary" id="buttonClick">Create Character</button>
        <!--</form>-->
        <div class = "row">
            <div class = "col-lg-4">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1>Berserker</h1>
                        <h4>HP: 100</h4>
                        <h4>ATK: 125</h4>
                        <h4>DEF: 125</h4>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1>Slayer</h1>
                        <h4>HP: 100</h4>
                        <h4>ATK: 150</h4>
                        <h4>DEF: 100</h4>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1>Paladin</h1>
                        <h4>HP: 100</h4>
                        <h4>ATK: 100</h4>
                        <h4>DEF: 125</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/character-difficulty.js}"></script>
</html>
</div>