@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
    font-size: 2.77vh;
}

body {
    padding: 10px;
    background-color: #280101 !important;
}

#formGroupEvent label {
    margin-top:20px;
}

#submitbutton {
    margin-top: 20px;
}

.formEventContainer {
    margin-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
}