@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    font-size: initial;
    color: white;
}

body {
    padding: 10px;
    background-color: #280101 !important;
}
button {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
}

#title {
    padding: 50px;
}

option {
    color: black;
}

input {
    color: black;
}