@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
    font-size: initial;
}

body {
    padding: 10px;
    background-color: #280101 !important;

}

.container button {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
}

#titleDifficulty {
    padding: 80px;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
