@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
    font-size: 2.77vh;
}

body {
    padding: 10px;
    background-color: #280101 !important;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.content {
    padding: 30px;
}

html, body {
    height: 100%;
}

.threebuttons {
    display: flex;
    justify-content: space-between;
}

.threebuttons button {
    margin: 5px;
}

.dbContainer {
    display: flex;
    justify-content: flex-end;
}

.statContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.heroImage {
    max-width: 100%;
    max-height: 100%;
}

.heroImageCont {
    width: 400px;
    height: 300px;
}

.atkdefhp {
    display: flex;
    flex-direction: row;
}

.atkdefhp div {
    margin: 5px;
}