@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
    font-size: 2.77vh;
}

body {
    padding: 10px;
    background-color: #280101 !important;

}

.mainResultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.descriptionResultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.actionsContainer button {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
}

.descriptionResult {
    text-align: center;
    width: 500px;
}