@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: white;
    font-size: initial;
}

body {
    padding: 10px;
    background-color: #280101 !important;

}

.container button {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
}

.dflex button {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
}

.db {
    margin: 10px;
    background-color: #BC823E;
    border-style: none;
    color: black;
    height: 40px;
}

#titleShop {
    padding: 80px;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #512A2A !important;
    border-color: antiquewhite !important;
    border-width: thin !important;
}

.log {
    width: 500px;
}

.tombol {
    display: flex;
    flex-direction: row;
}
