<div id="content">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Difficulty</title>
    <link rel="stylesheet" th:href="@{/css/difficulty.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center" id="titleDifficulty">Choose your difficulty!</h1>
        <div class="row">
            <div class="col-md-4 p-3" th:each="DaBaby: ${DaBaby}">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1 th:text="${DaBaby.getType()}"></h1>
                        <p th:text="${DaBaby.getDescriptions()}"></p>
                        <form class="form-group"
                              th:action="@{/difficulty/choose}" method="POST">
                        <input type="hidden" name="difficultySelected" th:value="${DaBaby.getType()}">
                        <button class="btn btn-sm btn-primary" type="submit">Select</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3" th:each="Normal: ${Normal}">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1 th:text="${Normal.getType()}"></h1>
                        <p th:text="${Normal.getDescriptions()}"></p>
                        <form class="form-group"
                              th:action="@{/difficulty/choose}" method="POST">
                            <input type="hidden" name="difficultySelected" th:value="${Normal.getType()}">
                            <button class="btn btn-sm btn-primary" type="submit">Select</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3" th:each="Pacil: ${Pacil}">
                <div class="card text-center text-dark" style="background-color: transparent; border-color: antiquewhite; border-width: thin" >
                    <div class="card-body p-4">
                        <h1 th:text="${Pacil.getType()}"></h1>
                        <p th:text="${Pacil.getDescriptions()}"></p>
                        <form class="form-group"
                              th:action="@{/difficulty/choose}" method="POST">
                            <input type="hidden" name="difficultySelected" th:value="${Pacil.getType()}">
                            <button class="btn btn-sm btn-primary" type="submit">Select</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
</div>