<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet"  th:href="@{/css/shop.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex">
            <a th:href="@{/mainlobby}"><button class="mr-auto p-2 btn btn-outline-primary" type="button">Home</button></a>
            <div class="ml-auto p-2 db">
                <span style="color: black"><span class="db-counter" style="color: black" th:text="${hero.getCharStats().getDB()}"></span> db</span>
            </div>
        </div>
        <h1 class="text-center" id="titleDifficulty">Shop</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 p-4" th:each="item : ${items}">
                <div class="card text-center text-dark">
                    <div class="card-body p-3">

                        <h1 class="card-title" th:text="${item.getType()}"></h1>
                        <br />
                        <h5 th:text="${item.getDescription()}"></h5>
                        <br />
                        <h5 th:text="${item.getPrice()}"></h5>
                        <br />
                        <button th:value="${item.getType()}" class="btn btn-outline-primary mb-2 buy" type="submit">Buy</button>
                    </div>
                </div>
            </div>
            <div class="p-4 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="log card text-left p-4">
                    <h1 class="card-title">Shop Log:</h1>
                    <ol class="pl-3 text-left">
                        <div id="log-container">
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/shop.js}"></script>
</body>
</html>